.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  background-color: rgb(244, 245, 247);
  height: 30px;
  width: 100%;
}
.navbar{
  display: flex;
  gap:70px;
  font-size: 14px;
}
.navbar-left{
  display: flex;
}
.comp{
  margin-right: 10px;
}
