.ticketcard {
  width: 170px;
  margin-top: 19px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #12121221;
  padding: 0.75rem 1rem;
}
.ticketcard .ticketcard-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.ticketcard .ticketcard-middle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: space-around;
}

.ticketcard .ticketcard-middle-left {

  color: #282a2f;
  font-size: 13px;
  font-weight: 600;
}

.ticketcard .ticketcard-middle-right {
  color: #282a2f;
  font-size: 13px;
  font-weight: 600;
}

.ticketcard-bottom {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  align-items: center;
}

.ticketcard-bottom-left {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.ticketcard-bottom-right {
  width: 100px;
  border: 1px solid rgb(219, 218, 216);
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}